# where to cache nostr events
# can be in-memory, redis:// or sqlite://
CACHE_PATH="in-memory"

# How long to keep cached data (in seconds)
CACHE_TIME=3600

# A list of relays to find users relay lists (10002) and blossom servers (10063)
LOOKUP_RELAYS=wss://user.kindpag.es,wss://purplepag.es

# A list of relays that should be used to cache nostr events
# CACHE_RELAYS=ws://localhost:4869

# A list of nostr relays to listen to for new nsite events
SUBSCRIPTION_RELAYS=wss://nos.lol,wss://relay.damus.io

# A list of fallback blossom servers
BLOSSOM_SERVERS="https://nostr.download,https://cdn.satellite.earth"

# A blossom proxy server to check first for blobs (optional)
# When set, the gateway will check this proxy first before other servers.
# The proxy will receive BUD-10 discovery hints (xs=server hints, as=author pubkey) as query parameters.
# BLOSSOM_PROXY="https://blossom-proxy.example.com"

# The max file size to serve
MAX_FILE_SIZE="2 MB"

# A nprofile pointer for an nsite to use as the default homepage
# Setting this will override anything in the ./public folder
NSITE_HOMEPAGE="nprofile1qqspspfsrjnurtf0jdyswm8jstustv7pu4qw3pn4u99etptvgzm4uvcpz3mhxue69uhhyetvv9ujuerpd46hxtnfduqs6amnwvaz7tmwdaejumr0ds4adwym"

# a local directory to download the homepage to
NSITE_HOMEPAGE_DIR="public"

# The public domain of the gateway (optional) (used to detect when to show the nsite homepage)
PUBLIC_DOMAIN="nsite.gateway.com"

# The nip-05 domain to use for name resolution
# NIP05_NAME_DOMAINS="example.com,nostr.other.site"

# If this is set, nsite will return the 'Onion-Location' header in responses
# ONION_HOST=https://<hostname>.onion
